<%- include("partials/header.ejs") %>


<div class="welcomePage">
<div class="box">
<h1 class="welcome">Welcome to Bloggie !</h1>

<h1>I am Glad and Greatful that you are here 👻!</h1>

<p><b>This is a simple blog website created by Karuna Sharma.</b></p>
<p><b>This webite is still in development phase.</b></p>
<p><b>Hope you enjoy using this Blog Website.</b></p>
</div>

</div>



<%- include("partials/footer.ejs") %>