<%- include("partials/header.ejs") %>

if(locals.topicBlog && locals.dateBlog && locals.textBlog){
    
}else{
    <div id="container">
        <div id="container2">
        <h1>Blog Posts</h1>
        <div class="content">
            <h2>Blog Post Number 1</h2>
            <p>In non odio excepturi sint eum labore voluptates vitae quia qui et inventore itaque rerum veniam non exercitationem
            delectus aut.</p>
            <h4>By John Doe.</h4>
        </div>

        <div class="content">
            <h2>Blog Post Number 2</h2>
            <p>In non odio excepturi sint eum labore voluptates vitae quia qui et inventore itaque rerum veniam non exercitationem
            delectus aut.</p>
            <h4>By Sávio Nascimento.</h4>
        </div>

        <div class="content">
            <h2>Blog Post Number 3</h2>
            <p>In non odio excepturi sint eum labore voluptates vitae quia qui et inventore itaque rerum veniam non exercitationem
            delectus aut.</p>
            <h4>By Magnus Reck.</h4>
        </div>
        </div>
    </div>
}

