@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Scribble&family=Ubuntu&display=swap');
body{
    background-color: rgb(198, 158, 225);
    /* font-family: var(--dark); */
    /* text-align: center; */
}


/*----------front page input-----------------*/

.container{
    text-align: center;
}

.post-header{
    color: aliceblue;
    margin: 20px;
}

.banner-title{
    padding: 50px;
    font-family: 'Poppins';
    color: aliceblue;
    font-size: 2rem;
}





/*-----------------home page-------------------*/

.front{
  background: url("/images/bgImg.jpg");
  width: 100%;
  padding: 10px;
}






/* -------------------about page---------------------- */

.welcomePage{
  background: url("/images/blog.jpg") no-repeat;
  height: 700px;
  width: 100%;
  border: solid 1px #071359;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 50px;
  box-sizing: border-box;
  box-shadow: inset -350px 0 100px 0 #FFF;
  font-size: 1.5rem;
}

.box{
  background-color: #ff6699;
  padding: 10px;
  border-radius: 30px;
  /* padding-left: 10px; */
}


/*-----------------------footer---------------------*/

h3{
  color: #ffffff;
  padding: 5px;
}

footer{
  background-color: #333;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}




/* -----------------nav bar---------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Poppins';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

